header {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:orange;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  margin-top: 120px;
}

header h2 {
  color: white;
}

header img {
  border-radius: 50px;
}

@media screen and (min-width: 950px) {
  header {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 150px;
    border-radius: 150px;
  }
}

@media screen and (max-width: 949px) {
  header {
    margin-top: 0;
    padding-top: 100px;
  }
  nav {
    background-color:orange;
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
    position: relative;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 350px;
  }
}