nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
  padding-top: 2em;
  padding: 1.5em;
}

nav h4 {
  font-size: 1em;
  padding: 0.5em;
  font-weight: 300;
}

.bold {
  font-size: 1em;
  padding: 0;
  font-family: "Source sans-serif", sans-serif;
}